.site__main {
}
.site__login {
}
.container {
}
.site__login__header {
}
.site__login__content {
}
.site__login__logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
  width: 25rem;
}

.site__section {
}
.site__login__input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.site__login__username__input {
  width: 18rem;
  height: 3rem;
  margin-left: 46rem;
  border: 0.1rem solid;
  background-color: #232424;
  border-color: #232424;
  color: white;
  padding: 1rem;
}
.site__input {
}
.site__login__password {
  width: 18rem;
  height: 3rem;
  margin-left: 46rem;
  border: 0.1rem solid;
  background-color: #232424;
  border-color: #232424;
  color: white;
  padding: 1rem;
}

.site__login__hr {
  display: flex;
  margin-top: 3rem;
  margin-left: 46.5rem;
  color: #232424;
}
.site__login__hr__one {
  width: 7rem;
  color: #232424;
}
.site__login__or {
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: -0.3rem;
}
.site__login__hr__two {
  width: 7rem;
  color: #232424;
}

.site__link__facebook {
  position: absolute;
}
.site__facebook__link {
}
.site__facebook__logo {
  position: relative;
  top: 1.5rem;
  left: 46rem;
}
.facebook__link__title {
  position: relative;
  left: 51rem;
  top: -1rem;
  color: #154796;
  font-size: 1.5rem;
}

.site__forgot__password {
  position: absolute;
}
.forgot__password {
  position: relative;
  top: 8rem;
  left: 50rem;
  font-size: 1.6rem;
  width: 25rem;
  height: 3rem;
  color: white;
}

.site__signup__link {
  position: relative;
  top: 13rem;
  left: 46.5rem;
}
.signup__link {
  color: white;
  font-size: 1.5rem;
}
.sign__link {
  color: #1b5bc1;
  font-size: 1.5rem;
}
