.site__main__btn {
}
.site__btn {
  width: 18rem;
  height: 3rem;
  margin-top: 2rem;
  margin-left: 46rem;
}
.btn {
  width: 19rem;
  font-size: 1.8rem;
  border-radius: 0.7rem;
  background-color: #154796;
  padding-top: 0.3rem;
  padding-left: 7rem;
  color: #a0b2f2;
}
